<a href="https://colab.research.google.com/github/Silvana23/aprendendo-python/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
alunos = {'nome' : [ 'gabriel' , 'carlos', 'pablo' , 'miguel'],
          'notas': [ 10 , 8 ,4 ,3],
          'aprovado':['sim' , 'sim' , 'nao', 'nao']}

In [ ]:
#trasformando o dicionario em um dataframe
tabela = pd.DataFrame(alunos)

In [ ]:
print(tabela)

      nome  notas aprovado
0  gabriel     10      sim
1   carlos      8      sim
2    pablo      4      nao
3   miguel      3      nao